@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap');

body {
    display: flex;
    height: 100vh;
    max-width: 100vw;
    justify-content: center;
}

img {
    background-size: cover;
    width: 80%;
    height: auto;
}